[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
pillow = "*"
psycopg2 = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.8"
